* {
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 90px auto;
}

.form-div {
  display: grid;
  grid-template-columns: 48%; 
}

label {
  font-weight: bold;
}

span {
  font-size: 14px;
  display: flex;
  justify-content: end;
}

p {
  margin-top: 32px;
}

.input {
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 8px;
  border: 2px solid #111;
}

table {
  margin-top: 48px;
  text-align: center;
  width: 100%;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
}